@model WorkUpdateDto
<html>
<head>
    <title>ToDo App</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container my-2">
        <form asp-action="Update" asp-controller="Home" method="post">
            <input type="hidden" asp-for="Id"/>
            <div class="mb-3">
                <label>İşin Tanımı:</label>
                <input asp-for="Definition" class="form-control" />

            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="IsCompleted">
                <label class="form-check-label" for="IsCompleted">
                    Tamamlandı mı?
                </label>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Kaydet</button>
            </div>
            <div class="text text-danger mt-5" asp-validation-summary="All"></div>

        </form>
    </div>
</body>

</html>